body {
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
}

#container {
  width: 80%;
  background: crimson;
  padding: 20px;
  margin: 40px 0;
  border-radius: 10px;
}
.section {
  background-color: rgb(1, 58, 29);
  color: aliceblue;
}

.main {
  background-color: rgb(231, 237, 255);
}

.movie-grid ul {
  padding: 15px;
}

.movie-grid li {
  display: grid;
  grid-template-columns: 40% 60% 3fr;
  list-style-type: none;
  word-wrap: break-word;
  padding: 5px;
}

.movie-genres {
  display: block;
}

.movie-date {
  margin-left: 10px;
  font-size: smaller;
  font-style: italic;
}

.movie-more {
  cursor: pointer;
  margin-left: 10px;
  color: rgb(31, 13, 133);
  text-decoration: underline;
  font-size: medium;
}

.search-input {
  width: 100%;
  height: 2.5rem;
}
/* .responsive {
  max-width: 100%;
  height: auto;
} */

@media screen and (max-width: 790px) {
  .movie-column + .movie-column {
    color: white;
    text-align: center;
  }
  .movie-grid li {
    grid-template-columns: 5% 80%;
  }
}
