* {
  box-sizing: border-box;
}

body {
  background-color: darkgray;
  font-size: 1.2rem;
}

#container {
  width: 70%;
  background: crimson;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
}

.section {
  display: grid;
  color: aliceblue;
  grid-template-columns: minmax(75%, 75%) 1fr;
  grid-gap: 10px;
}

.main {
  background-color: rgb(231, 237, 255);
}

.movie-grid ul {
  padding: 15px;
}

.movie-column {
  transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.movie-grid li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  word-wrap: break-word;
  padding: 5px;
  gap: 2em;
}

.movie-grid li div:first-child {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 10%;
}

.movie-grid li div:nth-child(2) {
  flex-shrink: 1;
  flex-grow: 1;
  /* width: 40%; */
  flex-basis: 40%;
}

.movie-grid li div:last-child {
  flex-shrink: 1;
  flex-grow: 0;
  width: 0px;
  overflow: hidden;
  flex-basis: 100%;
  max-height: 0;
}

/* .movie-grid li.show-more {
  flex-basis: 30%;
} */

/* .movie-grid li.show-more div:first-child { */
  /* flex: 0; */
/* } */

.movie-grid li.show-more div:nth-child(2) {
  width: unset;
  /* flex: 0; */
}

.movie-grid li.show-more div:last-child {
  flex-grow: 1;
  width: 100%;
  max-height: 2500px;
}

.movie-genres {
  display: block;
}

.movie-date {
  margin-left: 10px;
  font-size: smaller;
  font-style: italic;
}

.movie-more {
  cursor: pointer;
  margin-left: 10px;
  color: rgb(31, 13, 133);
  text-decoration: underline;
  font-size: medium;
}

.search-input {
  width: 100%;
  height: 2.5rem;
}

@media screen and (max-width: 1320px) {
  .movie-grid li div:first-child {
    flex-grow: unset;
    width: auto;
  }

  body {
    background-color: brown;
  }
}

@media screen and (max-width: 830px) {
  .responsive {
    max-width: 100%;
    height: auto;
  }
}
