/**
* General styles
*/

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-colour);
  font-size: 1.2rem;
  font-family: 'Roboto Condensed', sans-serif;
}

img {
  border-radius: var(--img-border-radius);
  box-shadow: var(--box-shadow);
}

a {
  color: var(--hyperlink-txt-colour);
}

a.override-link {
  color: var(--main-txt-colour);
}

#container {
  width: 70%;
  background: var(--main-theme-colour);
  padding: 20px;
  margin: auto;
  border-radius: 10px;
}

.section {
  display: grid;
  grid-template-columns: minmax(75%, 75%) 1fr;
  grid-gap: 10px;
}

.main {
  background-color: var(--main-txt-bg-colour);
}

/*
* inputs & buttons
*/
.search-input {
  width: 100%;
  height: 2.5rem;
  line-height: 46px;
  font-size: 1.1em;
  color: var(--main-txt-colour);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}

.now-playing-reset {
  padding: 10px 26px;
  border: none;
  /* background-image: linear-gradient(180deg, #cb0b0b, #ff000045); */
  background-image: linear-gradient(180deg, var(--main-theme-highlight-colour), var(--main-theme-colour));
  color: var(--main-txt-bg-colour);
  font-size: 1.2rem;
  border-radius: 1.2rem;
  cursor: pointer;
}

/*
*  main section 
*/
.movie-column {
  transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.movie-grid ul {
  padding: 15px;
}

.movie-grid li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  word-wrap: break-word;
  padding: 5px;
}

.with-poster {
  flex-shrink: 1;
  flex-grow: 1;
}

.with-info {
  flex-shrink: 1;
  flex-grow: 1;
  width: 40%;
}

.with-more-info {
  flex-shrink: 1;
  flex-grow: 0;
  width: 0px;
  overflow: hidden;
  flex-basis: 100%;
  max-height: 0;
}

.more-info-panel {
  color: var(--main-txt-bg-colour);
  padding: 20px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.more-info-panel > iframe {
  flex-basis: 49%;
}

.more-info-panel > div {
  flex-basis: 100%;
}

.more-info-panel div {
  text-align: justify;
}

/*
* show more is open styles
*/
.movie-grid li.show-more .with-more-info {
  flex-grow: 1;
  width: 100%;
  max-height: 2500px;
  background-color: var(--main-theme-highlight-colour);
  border: var(--main-theme-colour) 2px solid;
  border-radius: 10px;
  padding: 15px;
}

.movie-genres {
  display: block;
}

.movie-title {
  font-family: 'Oswald', sans-serif;
  font-size: 2.2rem;
}

.movie-date {
  margin-left: 10px;
  font-size: smaller;
  font-style: italic;
}

.movie-more {
  cursor: pointer;
  margin-left: 10px;
  color: var(--txt-active-colour);
  text-decoration: underline;
  font-size: medium;
}

@media screen and (max-width: 1320px) {
  .movie-grid li div:first-child {
    flex-grow: unset;
    width: auto;
  }
}

@media screen and (max-width: 800px) {
  .section {
    grid-template-columns: unset;
  }
}

@media screen and (max-width: 830px) {
  .responsive {
    max-width: 100%;
    height: auto;
  }
}
