.star {
  font-size: xx-large;
  display: inline-block;
  color: var(--rating-stars-off-colour);
}
.star:last-child {
  margin-right: 0;
}
.star:before {
  content: '\2605';
}
.star.on {
  color: var(--rating-stars-on-colour);
}
.star.half:after {
  content: '\2605';
  color: var(--rating-stars-on-colour);
  position: absolute;
  margin-left: -27px;
  width: 14px;
  overflow: hidden;
}
