body {
  background-color: darkgray;
}

#app {
  background-color: darkgray;
}

#container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 80%;
  margin: auto;
}

.section {
  background-color: rgb(1, 58, 29);
  color: aliceblue;
}

.main {
  background-color: rgb(231, 237, 255);
}

.movie-grid ul {
  display: grid;
  padding: 5px;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

.movie-grid li {
  display: inline-block;
  list-style-type: none;
  word-wrap: break-word;
  padding: 5px;
}

.movie-genres {
  display: block;
}

.star {
  font-size: x-large;
  display: inline-block;
  color: gray;
}
.star:last-child {
  margin-right: 0;
}
.star:before {
  content: '\2605';
}
.star.on {
  color: rgb(209, 183, 36);
}
.star.half:after {
  content: '\2605';
  color: rgb(209, 183, 36);
  position: absolute;
  margin-left: -20px;
  width: 10px;
  overflow: hidden;
}
